@import "src/styles/variables";
@import "src/styles/breakpoint";

.root {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $yellow-500;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  > p {
    cursor: pointer;
    > i {
      font-size: 30px!important;
      &:hover {
        color:  $yellow-500;
      }
    }
  }

  @include breakpoint-up(large) {
    display: none!important;
  }
}