@import "src/styles/variables";

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background: rgb(28, 30, 25, 0.5);
  opacity: 0;
  z-index: -100;
  transition: all 1s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: $bg-purple-400;
    z-index: 110 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;


    .button_box {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-evenly;

      > button {
        cursor: pointer;
        padding: 10px 30px;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;

        &:hover {
          background-color: $bg-black;
          color: wheat;
        }
      }
    }
  }
}

.open_modal {
  opacity: 1 !important;
  z-index: 100 !important;

}