@import "src/styles/variables";
@import "src/styles/breakpoint";

.show {
  transform: translateX(-50%) !important;
}

.root {
  position: fixed;
  width: calc(100% - 20%);
  height: 100%;
  z-index: 20;
  top: 56px;
  transform: translateX(-200%);
  left: 50%;

  padding: 10px;
  transition: all .4s ease-in-out;
  background: $bg-black-700;


  @include breakpoint-up(large) {
    position: relative!important;
    background: transparent;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    top: 0;
    left: 0!important;
    transform: translateX(0)!important;
  }

  .auth_info_box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;

    address {
      width: 85%;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .image_box {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
  }
}


.current_users_box {
  height: 400px;
  overflow: auto;

  .user_box {
    cursor: pointer;
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 2px;
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 36);

    &:hover {
      background-color: $bg-purple-500;
    }
    > figure {
      display: block;
      width: 50px;
      height: 50px;
      padding: 5px;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    p {
      font-size: .7em;
    }
  }
}

