@import "src/styles/mixins";
@import "src/styles/variables";

.root {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  color: $white;

  > p {
    width: auto;
    margin-bottom: 10px;
    padding: 4px 0 4px 10px;
    min-width: 400px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: $md-red-500;

    @include transition(all, .3s);
    transform: translateY(0);
    background-color: rgba(124, 103, 103, 0.59);
  }
}
