.chat_input {
  position: relative;
  width: 95%;
  height: 90px;
  display: flex;
  margin: 10px auto;
  padding-bottom: 30px;
  border-top: 1px solid #fdc201;


  textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 5px 7px;
    background: transparent;
    color: white;
    font-size: 1.2em;
    letter-spacing: .7px;
    border-bottom: 1px solid #fdc201;
  }

  button {
    cursor: pointer;
    border: none;
    position: absolute;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    right: 20px;
    margin-left: 20px;
    background: transparent;
    color: white;

    &:hover {
      color: #fdc201;
    }
  }
  span {
    position: absolute;
    left: 10px;
    bottom: 5px;
    cursor: pointer;
  }
  .emoji {
    position: absolute;
    left: 10px;
    bottom: 95px;
    border: 1px solid #878a81 !important;
    *  {
      //background-color: #272828 !important;
      background-color: rgb(32, 32, 36) !important;
      border: none!important;
      color: white;

      &::-webkit-scrollbar {
        width: 2px!important;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1!important;;
      }

      &::-webkit-scrollbar-thumb {
        background: #a27600!important;;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555!important;;
      }

    }
    svg {
      display: none!important;
    }
    input {
      outline: none!important;
      border: none!important;
      display: none;
    }
  }
}
