@import "src/styles/mixins";

.login {
  width: 100%;
  height: 100%;

  p {
    font-size: 12px;
    color: #a6a5a5;

    * {
      font-size: 14px;
      color: #3dbaff;
    }
  }

  label {
    position: relative;
    height: 50px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  label:focus-within small {
    top: -5px;
    left: 20px;
    background-color: transparent;
  }

  small {
    position: absolute;
    top: -20px;
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto;
    color: #e3eed2;
    background-color: transparent;
    transition: all .3s ease;
  }

  input {
    border: none;
    width: 90%;
    margin: 0 auto;
    padding: 13px 7px;
    font-size: 16px;
    color: white;
    background-color: #7361ab;
    transition: width .3s ease-in-out;

    &:focus {
      width: 100%;
      border-radius: 15px;
    }
  }

  button {
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 13px 0;
    margin-bottom: 10px;
    border-radius: 2px;
    font-weight: 500;
    color: white;
    background-color: #776cc7;
    opacity: .8;
    @include transition(all, .2s);

    &:hover {
      opacity: 1;
      border-radius: 10px;
    }
  }
}
