:root {
  --black: black;
  --black-700: #141515;

  --background: #1c1e21;
  --white: #fff;
  --white-100: #f1f1f1;

  --gray-100: #dedede;
  --gray-200: #ad9fa1;

  --gray-500: #808080FF;
  --gray-700: #555;
  --gray-800: #343434;

  --dimgrey-500: #5d4855;

  --light-pink: #c48f8f;

  --purple-400: #7361ab;

  --pink-50: #decdfa;

  --pink-100: #c299ff;

  --bg-purple-400: #7361ab;


  --lightlateblue-50: #fff;
  --lightlateblue-100: #e4e4fa;
  --lightlateblue-800: #52527a;



  --darkslateblue-300: #666699;
  --darkslateblue-400: #5c5c8a;
  --darkslateblue-500: #47476b;
  --darkslateblue-800: #3d3d5d;




  --indigo-800: #2f2836;

  --darkblue-800: #302456;

  --yellow-500: #ffc300;
  --yellow-600: #daa520ff;
  --orange-100: #f5deB3ff;
  --orange-500: #ff8d2f;

  --gold-yellow-400: #a27600;
  --gold-yellow-600: #6c4e01;

  --bisque-100: #fcf3e5;


  --ligth-green-200: #e3eed2;
  --ligth-green-300: #b0fd83;
  --ligth-green-500: #bcfd84;
  --ligth-green-700: #ADFF2FFF;
  --green-500: #04d361;

  --blue-500: #1fa5f8;

  --drak-blue-800: #00008BFF;

  --drak-purple-800: #5b099b;
  --red-500: #ff0000ff;
}