// colors
$md-red-500: #ff0000ff;
$white: #ffff;
$white-300: #e3eed2;
$yellow-500: #ffc300;
$white-500: #f5deB3ff;
$lightskyblue-500: #00a4ff;

$green-300: #b0fd83;
$green-500: #a8fd00;

// background-colors
$bg-black: #000000ff;
$bg-black-700: #141515;

$bg-dimgrey-500: #5d4855;
$bg-gray-500: #555;

$bg-goldenrod-500: #daa520ff;

$bg-purple-500: #544f7e;
$bg-purple-400: #7361ab;

$bg-white-100: #f1f1f1;





